In [23]:
import pandas as pd
import re
# 원본 데이터프레임 생성
origin_data = [
    ['DTA01','NMM01', '2024-07-26 23:40:50', 'B'],
    ['DTA01','NMM01', '2024-07-27 01:41:54', 'A'],
    ['DTA01','NMM02', '2024-07-27 02:23:52', 'B'],
    ['DTA01','NMM02', '2024-07-27 02:46:50', 'A'],
    ['DTA01','NMM31', '2024-07-27 03:40:50', 'B'],
    ['DTA01','NMM31', '2024-07-27 04:41:54', 'A'],
    ['DTA01','NMM40', '2024-07-27 05:23:52', 'B'],
    ['DTA01','NMM40', '2024-07-27 06:46:50', 'A'],
    ['DTB01','NMM40', '2024-06-22 02:15:51', 'A'],
    ['DTB01','NMM35', '2024-06-22 02:51:52', 'B'],
    ['DTB01','NMM35', '2024-06-23 03:20:12', 'A'],
    ['DTB01','NMM15', '2024-06-23 04:40:35', 'B'],
    ['DTB01','NMM15', '2024-06-23 04:56:15', 'A'],
    ['DTB05','NMM15', '2024-06-23 13:40:10', 'B'],
    ['DTB05','NMM15', '2024-06-23 13:56:11', 'A'],
    ['DTB05','NMM20', '2024-06-23 14:13:16', 'A'],
    ['DTB05','NMM21', '2024-06-23 14:34:16', 'A'],
    ['DTB05','NMM34', '2024-06-23 14:48:19', 'B'],
    ['DTB05','NMM34', '2024-06-23 15:32:14', 'A'],
    ['DTB31','NMM15', '2024-06-23 11:40:10', 'B:1'],
    ['DTB31','NMM17', '2024-06-24 11:56:11', 'B:2'],
    ['DTB31','NMM17', '2024-06-24 12:13:16', 'A:2'],
    ['DTB31','NMM15', '2024-06-25 12:48:19', 'A:1'],
    ['DTB16','NMM74', '2024-06-23 11:40:10', 'B:1'],
    ['DTB16','NMM62', '2024-06-24 11:56:11', 'B:2'],
    ['DTB16','NMM62', '2024-06-24 12:13:16', 'A:2'],
    ['DTB16','NMM74', '2024-06-25 12:48:19', 'A:1'],
    ['DTB64','NMM85', '2024-06-23 17:15:10', 'B'],
    ['DTB61','NMM13', '2024-06-10 15:14:10', 'B:1'],
    ['DTC01','NMM12', '2024-01-16 12:40:50', 'A'],
    ['DTC01','NMM18', '2024-03-26 21:50:40', 'A:2'],
]

df = pd.DataFrame(origin_data, columns=['eqp_id', 'lot_id', 'tkout_time','category'])

# 숫자가 포함된 데이터를 분리
df_with_number = df[df['category'].str.contains(':')]
df_without_number = df[~df['category'].str.contains(':')]
def extract_number(category):
    match = re.search(r':(\d+)', category)
    return int(match.group(1)) if match else None

In [24]:
processed_data_with_number = []
current_b_with_number = None

In [27]:
df_with_number

   eqp_id lot_id           tkout_time category
19  DTB31  NMM15  2024-06-23 11:40:10      B:1
20  DTB31  NMM17  2024-06-24 11:56:11      B:2
21  DTB31  NMM17  2024-06-24 12:13:16      A:2
22  DTB31  NMM15  2024-06-25 12:48:19      A:1
23  DTB16  NMM74  2024-06-23 11:40:10      B:1
24  DTB16  NMM62  2024-06-24 11:56:11      B:2
25  DTB16  NMM62  2024-06-24 12:13:16      A:2
26  DTB16  NMM74  2024-06-25 12:48:19      A:1
28  DTB61  NMM13  2024-06-10 15:14:10      B:1
30  DTC01  NMM18  2024-03-26 21:50:40      A:2

In [26]:
range(len(df_with_number))

range(0, 10)

In [29]:
row = df_with_number.iloc[0]
row

eqp_id                      DTB31
lot_id                      NMM15
tkout_time    2024-06-23 11:40:10
category                      B:1
Name: 19, dtype: object

In [33]:
if row['category'].startswith('B'):
    current_b_with_number = row

In [34]:
current_b_with_number

eqp_id                      DTB31
lot_id                      NMM15
tkout_time    2024-06-23 11:40:10
category                      B:1
Name: 19, dtype: object